*{
	margin: 0;
	padding: 0;
}
#header{
	height: 100px;
	background-color: blue;
}
#container{
	position: relative;
	height: 300px;
	background-color: red;
}
#center{
	position: absolute;
	left: 200px;
	right: 200px;
	height: 300px;
	background-color: orange;
}
#left{
	position: absolute;
	left: 0;
	width: 200px;
	height: 300px;
	background-color: yellow;
}
#right{
	position: absolute;
	right: 0;
	width: 200px;
	height: 300px;
	background-color: pink;
}
#footer{
	height: 100px;
	background-color: blue;
}